name: Workflow for building and running some simple hardware tests
on: [push]
env:
  LAGER_GATEWAY: 113
concurrency: 
  group: dut
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker://lagerdata/devenv-cortexm:version-1.1
      credentials:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}


    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Build Project
        run: lager exec build-cmake


      - name: Upload the app hexfile
        uses: actions/upload-artifact@v2.2.4
        with:
          name: hexes_and_tests
          path: |
            _build/examples/ble_peripheral/ble_app_hrs/app.hex
            components/softdevice/s140/hex/s140_nrf52_7.2.0_softdevice.hex
            tests
          if-no-files-found: error

      # - name: Upload the softdevice hexfile
      #   uses: actions/upload-artifact@v2.2.4
      #   with:
      #     name: softdevice_hexfile
      #     path: components/softdevice/s140/hex/s140_nrf52_7.2.0_softdevice.hex
      #     if-no-files-found: error

      # - name: Upload ble test
      #   uses: actions/upload-artifact@v2.2.4
      #   with:
      #     name: test_ble
      #     path: tests
      #     if-no-files-found: error


  connect:
    runs-on: ubuntu-latest
    container:
      image: docker://lagerdata/lager-cli
      env:
        LAGER_TOKEN_ID: ${{ secrets.LAGER_TOKEN_ID }} 
        LAGER_TOKEN_SECRET: ${{ secrets.LAGER_TOKEN_SECRET }} 

    steps:
      - name: Connect to gateway
        run: lager connect --device nrf52 --force


  flash: #Only proceed to this step if the build and connect jobs succeeded 
    runs-on: ubuntu-latest
    container:
      image: docker://lagerdata/lager-cli
      env:
        LAGER_TOKEN_ID: ${{ secrets.LAGER_TOKEN_ID }} 
        LAGER_TOKEN_SECRET: ${{ secrets.LAGER_TOKEN_SECRET }}

    needs: [build, connect]
    steps:
      - name: Download the hex files and python tests
        uses: actions/download-artifact@v2
        with:
          name: hexes_and_tests
          path: /tmp

      # - name: Download the softdevice hexfile
      #   uses: actions/download-artifact@v2
      #   with:
      #     name: softdevice_hexfile

      # - name: Flash Softdevice
      #   run: lager flash --hexfile s140_nrf52_7.2.0_softdevice.hex

      # - name: Flash App
      #   run: lager flash --hexfile app.hex


  # test_ble: #test BLE functionality
  #   runs-on: ubuntu-latest
  #   container:
  #     image: docker://lagerdata/lager-cli
  #     env:
  #       LAGER_TOKEN_ID: ${{ secrets.LAGER_TOKEN_ID }} 
  #       LAGER_TOKEN_SECRET: ${{ secrets.LAGER_TOKEN_SECRET }}

  #   needs: [flash]
  #   steps:
  #     - name: Download ble test
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: test_ble

  #     - name: Test BLE
  #       run: lager python .
